.main{
    display:flex;
    flex-direction:row;
    height:100%;
}
#div1 {
    display: flex;
    flex-direction :row;
    width:100%;
    position:absolute;
    bottom:0px;
}


.details {
    display: flex;
    flex-direction: row;
    position:relative;
    bottom:0px;
}

.partition {
    display: flex;
    justify-content:left;
    flex-direction: column;
    margin-left:0px;
    border:solid;
    height:100%;
    border-width:2px;
}
#partition2{
    width:80%;
    position:relative;
    overflow-y:scroll;
}
.data {
    color: blue;
    font-size: smaller;
    float:right;
}
#form1{
    width:100%;
}
.refresh{
    position:absolute;
    bottom:3%;
}
.chat{
    border:solid;
    border-width:1px;
    border-color:cadetblue;
}